.row {
}
.r-textbox,
.r-textarea {
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 12px 7px 12px 7px;
  margin: 5px 0 5px 0;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: #f6f6f6;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.05s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.r-textbox.ng-touched.ng-invalid,
.r-textarea.ng-touched.ng-invalid {
  border: 1px solid red;
}

.btn-app {
  border-radius: 5px !important;
  margin-left: 0.25rem !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
