:host {
  display: block;
}

.app-form-control-label {
  margin: 0;
  font-size: 90%;
  .required-symbol {
    color: red;
    padding-right: 5px;
    padding-top: 3px;
  }
}
.app-form-control-subscript {
  display: block;
  line-height: 1;
  height: 1em;
  text-align: right;
  margin: 0.3em 0 0.6em 0;
  .error-text {
    display: inline-block;
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
